<li data-name="{{ file }}" class="{% if (file == '..') %}back{% else %}dir{% endif %}" {% if((filter !='') and (( file in filter )===false))  %} style="display:none;"{% endif %}>
    <?php
			    $file_prevent_rename = false;
			    $file_prevent_delete = false;
			    if (isset($filePermissions[$file])) {
				$file_prevent_rename = isset($filePermissions[$file]['prevent_rename']) && $filePermissions[$file]['prevent_rename'];
				$file_prevent_delete = isset($filePermissions[$file]['prevent_delete']) && $filePermissions[$file]['prevent_delete'];
			    }
			    ?><figure data-name="{{file }}" class="{% if file==".." %}back-{% endif %}directory" data-type="{% if file!=".." %}dir{% endif %}">
			    {% if(file=="..") %}
			    	<input type="hidden" class="path" value="<?php echo str_replace('.','',dirname($rfm_subfolder.$subdir)); ?>"/>
			    	<input type="hidden" class="path_thumb" value="<?php echo dirname($thumbs_path.$subdir)."/"; ?>"/>
			    {% endif %}
				  <a class="folder-link" href="dialog.php?<?php echo $get_params.rawurlencode($src)."&".uniqid() ?>">
                                      
					  <div class="img-precontainer">
							<div class="img-container directory"><span></span>
							<img class="directory-img"  src="img/<?php echo $icon_theme; ?>/folder<?php if($file==".."){ echo "_back"; }?>.png" />
							</div>
					  </div>
				    <div class="img-precontainer-mini directory">
							<div class="img-container-mini">
						    <span></span>
						    <img class="directory-img"  src="img/<?php echo $icon_theme; ?>/folder<?php if($file==".."){ echo "_back"; }?>.png" />
							</div>
				    </div>
			{% if(file=="..") %}
				    <div class="box no-effect">
					<h4><?php echo trans('Back') ?></h4>
				    </div>
				    </a>

			{% else %}
				    </a>
				    <div class="box">
					<h4 class="<?php if($ellipsis_title_after_first_row){ echo "ellipsis"; } ?>"><a class="folder-link" data-file="<?php echo $file ?>" href="dialog.php?<?php echo $get_params.rawurlencode($src)."&".uniqid() ?>"><?php echo $file; ?></a></h4>
				    </div>
				    <input type="hidden" class="name" value="<?php echo $file_array['file_lcase'];  ?>"/>
				    <input type="hidden" class="date" value="<?php echo $file_array['date']; ?>"/>
				    <input type="hidden" class="size" value="<?php echo $file_array['size'];  ?>"/>
				    <input type="hidden" class="extension" value="<?php echo trans('Type_dir'); ?>"/>
				    <div class="file-date"><?php echo date(trans('Date_type'),$file_array['date'])?></div>
				    <?php if($show_folder_size){ ?><div class="file-size"><?php echo makeSize($file_array['size'])?></div><?php } ?>
				    <div class='file-extension'><?php echo trans('Type_dir'); ?></div>
				    <figcaption>
					    <a href="javascript:void('')" class="tip-left edit-button rename-file-paths <?php if($rename_folders && !$file_prevent_rename) echo "rename-folder"; ?>" title="<?php echo trans('Rename')?>" data-path="<?php echo $rfm_subfolder.$subdir.$file; ?>" data-thumb="<?php echo $thumbs_path.$subdir.$file; ?>">
					    <i class="icon-pencil <?php if(!$rename_folders || $file_prevent_rename) echo 'icon-white'; ?>"></i></a>
					    <a href="javascript:void('')" class="tip-left erase-button <?php if($delete_folders && !$file_prevent_delete) echo "delete-folder"; ?>" title="<?php echo trans('Erase')?>" data-confirm="<?php echo trans('Confirm_Folder_del'); ?>" data-path="<?php echo $rfm_subfolder.$subdir.$file; ?>"  data-thumb="<?php echo $thumbs_path.$subdir .$file; ?>">
					    <i class="icon-trash <?php if(!$delete_folders || $file_prevent_delete) echo 'icon-white'; ?>"></i>
					    </a>
				    </figcaption>
			{% endif %}
			    </figure>
			</li>